<h1>All about bikes</h1>
<!-- <p>Find me in app/views/simple_pages/about.html.erb</p> -->
<p>This bike store is based in Munich and we can diliver to any part of Germany.</p>
<p>You can rent it, sell it or buy.</p>
<p>There is no compromise in prioce and quality.</p>
